.bg {
    background-image: url(../E9811C8D-4D0E-4CAE-9ECE-14A59EC536BC_1_105_c.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 687px;
    width: 515px;


}

.bgm {
    background-color: gainsboro;
}
